<!DOCTYPE html>
<html lang="ko"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hy GPT</title>
    <link rel="stylesheet" href="static/css/chat.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    <link rel="shortcut icon" href="static/images/favicon.ico">    
    <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css" rel="stylesheet">
</head>
<body>
    <div class="mobile-content">  
        <div class="chat-app">
            <header class="chat-header">
                <div class="header-content">

                    <div class="chat-title">
                        <a href="/">
                            <img src="static/images/logo.png" alt="LOGO" />
                        </a>
                    </div>
                </div>
            </header>

            <div class="chat-messages">
                <div class="spinner" id="spinner"></div>
            </div>
            
            <div class="chat-input">
                <input type="text" id="message-input" placeholder="메시지를 입력하세요..." spellcheck="false">
                <button class="chat-input-send-button">입력</button>
            </div>
        </div>
    </div>



    <script src="static/js/chat.js"></script>
</body>
</html>